{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'main/css/talk_room.css' %}">
{% endblock %}

{% block header_title %}{{ friend.username }}{% endblock %}

{% block talk_room %}
<a href="{% url 'friends' %}" class="back-button"><i class="fas fa-angle-left"></i></a>
<a href="" class="reload-button">更新</a>
{% endblock %}

{% block content %}
<div class="talk-room">
    {# 過去のチャットの表示部分 #}
    <ul class="chatboard">
        {# チャットを古い順に for 文で表示します #}
        {% for talk in talks %}
        <li class="chatboard__item">
            {% if talk.sender.id == user.id %}
            <p class="chatboard__username_me">
                {{ talk.sender.username }}
            </p>
            <div class="flex_me">
                <p class="chatboard__message_me">
                    {{ talk.message }}
                </p>
                <p class="chatboard__time_me">
                    {{ talk.time|date:"m/d" }}</br>
                    {{ talk.time|date:"H:i" }}
                </p>
            </div>
            {% else %}
            <p class="chatboard__username">
                from  {{ talk.sender.username }}
            </p>
            <div class="flex">
                <p class="chatboard__message">
                    {{ talk.message }}
                </p>
                <p class="chatboard__time">
                    {{ talk.time|date:"m/d" }}</br>
                    {{ talk.time|date:"H:i" }}
                </p>
            </div>
            {% endif %}
            
            
        </li>
        {% endfor %}
    </ul>
    <form action="{% url 'talk_room' friend.id %}" method="POST" class="message-form">
        {% csrf_token %}
        {{ form.message }}
        <button type="submit" class="message-form__submit">送信</button>
    </form>
</div>
{% endblock %}

{% block footer %}{% endblock %}